# FLUTTER/DART
.dart_tool/
.pub/
.pub-cache/
build/
*.lock
.idea/
.vscode/

# ==========================================
data/
dataset/
*.zip
*.tar
*.gz
*.rar
*.7z
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.pkl
*.h5
*.npy
*.npz
*.csv
*.xlsx
*.xls
*.pickle
*.joblib

# PYTHON
__pycache__/
*.pyc
*.pyo
venv/
env/
.env
.venv/

# OS FILES
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.lnk

# IDE
.vscode/
.idea/

# PROJECT SPECIFIC
reports/
*.db
*.signal
live_metrics.json
exam_session.json
uploads/
structure.txt
